.header {

  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding for the header */
}

.header_middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav_search {
  display: flex;
  align-items: center;
  background-color: rgb(244, 241, 241); 
  padding: 8px;
  border-radius: 25px;
  width: 95%; 
}

input[type="text"] {
  background-color: rgb(244, 241, 241);
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  margin-right: 10px; 
  border-radius: 25px;
}

.search-icon {
  width: 15px; 
  height: 15px; 
  margin-left: 10px;
}